{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% tailwind_css %}
{#    <link rel="stylesheet" href="{% static 'style.css' %}">#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
        <script src="{% static 'js/main.js' %}" defer></script>
    <title>Access Key Manager</title>
</head>
<body class="font-ubuntu bg-light">

<nav class="flex justify-around items-center bg-blue text-light p-6 container w-full">
    <div class="flex items-center flex-shrink-0 text-light mr-6">
        <span class="font-semibold text-xl tracking-tight">Access Key Manager</span>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
            {% if user.is_authenticated %}
                <a href="{% url 'signout' %}" class="block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white mr-4">
                    Sign Out
                </a>
                
                  {% if user.has_usable_password %}
                    <!-- User has a password, so display reset password link -->
                    <a href="{% url 'password_reset' %}" class="block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white mr-4">
                        Change Password
                    </a>
                {% endif %}
            {% else %}
                <a href="{% url 'signin' %}" class="block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white mr-4">
                    Sign In
                </a>
                <a href="{% url 'signup' %}" class="block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white mr-4">
                    Sign Up
                </a>
                <a href="{% url 'password_reset' %}" class="block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white mr-4">
                        Reset Password
                    </a>
            {% endif %}
        </div>
    </div>
</nav>

<main class="pt-5">
    {% block content %}
    {% endblock %}
</main>
</body>
</html>