{% extends 'base.html' %}
{% block content %}
    <div class="container mx-auto px-4 py-16">
    <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-2xl font-bold mb-4 text-center">Change Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-4">
                <label class="block text-blue font-bold" for="id_old_password">Old password:</label>
                {{ form.old_password }}
                {% if form.old_password.errors %}
                    <p class="text-expired text-xs italic">{{ form.old_password.errors }}</p>
                {% endif %}
            </div>
            <div class="mb-4">
                <label class="block text-blue font-bold" for="id_new_password1">New password:</label>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <p class="text-expired text-xs italic">{{ form.new_password1.errors }}</p>
                {% endif %}
            </div>
            <div class="mb-4">
                <label class="block text-blue font-bold" for="id_new_password2">Confirm new password:</label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <p class="text-expired text-xs italic">{{ form.new_password2.errors }}</p>
                {% endif %}
            </div>
            <button type="submit" class="bg-blue w-full text-light hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Change Password</button>
        </form>
    {% if user.is_authenticated %}
        <a href="{% url 'keylist' %}" class="text-secondary hover:text-blue-700 mt-4 block">Cancel</a>
    {% endif %}
    </div>
    </div>
{% endblock %}
