{% extends 'base.html' %}

{% block content %}

<div class="container mx-auto px-4 py-16">
      {% if user.is_authenticated %}

        <div class="flex flex-col justify-center items-center">
        <ul class="w-fit  shadow-lg p-6 rounded-lg">
        <h1 class="text-3xl font-bold mb-6 text-center text-blue">Key List</h1>
            {% for key in keys %}
                <li class="flex">
                    <span class="font-bold block text-blue">Key: &nbsp;</span> <span class="block text-secondary">{{ key.key }}</span>
                </li>
                <li class="flex">
                    <span class="font-bold block text-blue">Status: &nbsp;</span> <span class="block {% if key.status == 'expired' %}text-expired{% elif key.status == 'revoked' %}text-secondary {% else %}text-green{% endif %}">{{ key.status|capfirst }}</span>
                </li>
                <li class="gap-2 flex">
                    <span class="font-bold block text-blue">Procurement Date: &nbsp;</span> <span class="block text-secondary">{{ key.procurement_date }}</span>
                </li>
                <li class="gap-2 flex">
                    <span class="font-bold block text-blue">Expiry Date: &nbsp;</span> <span class="block text-secondary">{{ key.expiry_date }}</span>
                </li>

                <div class="mt-3 text-center underline text-secondary">
                    <a href="{% url 'keydetails' key.id %}" class="text-blue-500 hover:text-blue-700">View Details</a>
                </div>
            {% endfor %}
        </ul>
        </div>
          
          {% else %}
           <h2 class="text-3xl text-blue font-bold text-center">Welcome to Access Key Manager!</h2>
      <p class="text-center text-secondary mb-6 mt-2">The best way to access your school management system with great security!</p>
        <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg p-6">
                <p class="py-2">New to access key manager? <a class="text-blue underline" href="{% url 'signup' %}"> Signup here! </a></p>
                <p class="py-2">Already have an account? <a class="text-secondary underline" href="{% url 'signin' %}"> Signin here! </a></p>
                <p class="py-2">Forgot your password? <a class="text-expired underline" href="{% url 'password_reset_form' %}"> Reset here! </a></p>
        </div>
{% endif %}

    </div>
{% endblock %}