{% extends 'base.html' %}

{% block content %}
    
    <div class="container mx-auto px-4 py-16">
        <div class="max-w-md mx-auto shadow-lg rounded-lg p-6 text-center">
            <h1 class="text-2xl font-bold mb-6 text-blue">Password Reset Complete</h1>
            <p class="mb-4 text-secondary">Your password has been set. You can now log in with your new password.</p>
            <a href="{% url 'login' %}" class="bg-blue-500 text-light py-2 px-4 rounded hover:bg-blue">Return to Sign In</a>
            
        </div>
    </div>


{% endblock %}