{% extends 'base.html' %}
{% block content %}
    <div class="container mx-auto px-4 py-16">
        <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg p-6 text-center">
            <h1 class="text-2xl font-bold mb-6">Password Reset Sent</h1>
            <p class="mb-4">We've emailed you instructions for setting your password. If an account with the email you entered exists, you should receive the email shortly.</p>
            <a href="{% url 'signin' %}" class="bg-blue text-light w-full py-2 px-4 rounded hover:bg-blue-700">Return to Sign In</a>
        </div>
    </div>

{% endblock %}