{% extends 'base.html' %}
{% block title %}Sign In{% endblock %}
{% block content %}

<div class="container mx-auto px-4 py-16">
 {% if messages %}
        <div class="mb-4">
        <div class="flex justify-center">
            {% for message in messages %}
                <div id="message-{{ forloop.counter }}" class="p-4 mb-4 text-sm {% if message.tags == 'error' %}text-expired bg-pale-red{% else %}text-green bg-green-light{% endif %} rounded-lg transition-opacity text-center w-1/2" role="alert">                    
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        </div>
    {% endif %}

    <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg p-6">
        <h1 class="text-2xl font-bold mb-6 text-center text-blue">Sign In</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-4 w-full">
                <label class="block text-blue text-sm font-bold mb-2" for="id_username">
                    {{ form.username.label }}
                </label>
                {{ form.username }}
                {% if form.username.errors %}
                    <p class="text-expired text-xs italic">{{ form.username.errors|striptags }}</p>
                {% endif %}
            </div>
                <div class="mb-4">
                    <label for="{{ form.password.id_for_label }}" class="block text-blue text-sm font-bold mb-2">
                        Password
                    </label>
                    {{ form.password }}
                    {% if form.password1.errors %}
                        <p class="text-expired text-xs italic">{{ form.password.errors|striptags }}</p>
                    {% endif %}
                </div>
            {% if form.non_field_errors %}
                <div class="mb-4 w-full">
                    <p class="text-expired text-xs italic">{{ form.non_field_errors|striptags }}</p>
                </div>
            {% endif %}
            <div class="text-center w-full">
                <button type="submit" class="bg-blue w-full text-light py-2 px-4 rounded hover:bg-blue-700">
                    Sign In
                </button>
            </div>
            <div class="mt-2 text-center">
                <p class="text-sm">New to access key manager? <a href="{% url 'signup' %}" class="underline text-blue-500">Signup here!</a></p>
                <p class="py-2 text-sm">Forgot your password? <a class="text-expired underline" href="{% url 'password_reset_form' %}">Reset here!</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
