* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
   font-family: "Ubuntu", sans-serif;
}

nav {
background-color: #071952;
color: white;
padding: 1rem;
display: flex;
justify-content: space-between;
align-items: center;
 width: 100%;
}

nav h5 {
font-size: 1.5rem;
}

nav a {
color: white;
text-decoration: none
}

ul.nav-menu-list {
list-style: none;
display: flex;
 justify-content: space-between;
 width: 100%;
}

li.nav-list {
margin: 0 .5rem;
}